@import 'https://cdn.js.cloudfare.com/ajax/libs/normalize/8.0.1/normalize.min.css';
@import url("htpps://fonts.googleapis.com/csscss?family=Roboto:300,400,700");
body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #23253D;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1336px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.body-wrap {
  width: 100%;
}

header {
  max-width: 300px;
  margin: auto;
}
header h1 {
  margin: 0;
  font-size: 80px;
  line-height: 80px;
  font-weight: 100;
}
header h1 span {
  color: grey;
}
header small {
  display: block;
  font-size: 14px;
  text-align: right;
  color: #7e8099;
}

form {
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-top: 60px;
}
form fieldset {
  border: none;
  position: relative;
  padding: 0px;
  margin: 0px;
}
form fieldset input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
form fieldset input[type=text] {
  width: 100%;
  padding: 20px;
  padding-right: 125px;
}
form fieldset input[type=submit] {
  background-color: #108d7d;
  border: none;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  line-height: 14px;
  font-size: 14px;
  height: 100%;
  padding: 20px;
  cursor: pointer;
}